.body {
    background-color: rgb(255, 255, 255);
    justify-content:center;
}


.p {
    color:white;
    justify-content:center;
}

.navbar {
    background-color: #000000;
    font-weight: bold;
    font-family: Verdana;
}

.container {
    background-color: #1A1A1A;
}

.h2 {
    color:white;
}