body {
    background-color: #EBE5CC !important;
  }

p {
    justify-content:center;
    text-align: center;
}

.navbar {
    background-color: #EBD8CC ;
    font-weight: bold;
    font-family: Verdana;
}

.container {
    background-color: #1A1A1A;
}

h1 {
    color:black;
    text-align: center !important;
}

h2 {
    color:black !important;
    text-align: center !important;
}